<div class="wrapper">
  <button class="navigation" (click)="prevQuote()">
    <i class="fa-solid fa-angle-left"></i>    
  </button>
  <div class="quote-container">
    <app-quote [quote]="currentQuote" (onRate)="onRateClick($event)"></app-quote>
  </div>
  <button class="navigation" (click)="nextQuote()">
    <i class="fa-solid fa-angle-right"></i>
  </button>
</div>
<div class="no-connection" *ngIf="!isOnline">
  <i class="fa-solid fa-circle-exclamation"></i>
  <p class="no-connection-message">Connection Lost</p>
</div>
